@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Tukang Xpress adalah sebuah startup yang bergerak di dalam bidang Home Service Provider. Dalam waktu dekat Apps kami akan membantu anda untuk mencari Penyedia Jasa Layanan Service untuk Rumah anda dengan mudah.</p>
