@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    TukangXpress<br />
    Gema Anggada<br />
    <abbr title="Phone">P:</abbr>
    0816-910-544
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tukangxpress@gmail.com">tukangxpress@gmail.com</a>
</address>